ion-content{
    display: flex;
   justify-content: center;
   align-items: center;
}
.titulo{
    font-size: 260%;
}
.titulo1{
    font-size: 260%;
    margin-top: -10%;
}
.slo{
    font-size: 90%;
    margin-top: -10%;
}
p{
    margin-left: 5%;
}
.boton{
    display:block;
    margin-left: auto;
    margin-right: auto;
    color: black;

}
ion-grid{
    margin-top: 40%;
}