<ion-content class="fondo">
  <ion-grid>
    <ion-row>
      <img src="../../../assets/img/usuario.png" style="width: 60%; display: block; margin: auto;">
    </ion-row>
    
    <ion-row style="text-align: center !important; display: block; margin: auto; margin-top: -20%;">
      <h5 style="text-align: center;">INICIAR SESIÓN</h5>
    </ion-row>
    <br><br><br>
    <!--Contruccion de label eh input-->

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Correo Electronico</ion-label>
          <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <br>
    <ion-button expand="block" shape="round" fill="outline" class="boton" color="#67923d" (click)="OnSubmitLogin()">Iniciar Seción</ion-button>
    <p style="text-align: center;">__________o__________</p>
    <a (click)="registro()" style="text-align: center;"><h4>Registrate</h4></a>
  </ion-grid>
  
  <img src="../../../assets/img/medio.png" alt="">
</ion-content>
