<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
          <ion-row style="text-align: center !important; display: block; margin: auto;">
            <ion-col size="6">
                <img src="../../../assets/img/guia.png" alt="" style="width: 10%;">
                <strong style="font-size: 170%;">GUÍA</strong>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <p style="text-align: justify;" padding>La violencia es la utilización de la fuerza física o del poder contra uno mismo o contra otros, de modo que este acto cause daños físicos, daños psicológicos o privaciones. mismo o contra otros, de modo que este acto cuase daños fisicos, daños psicologógicos o privaciones.</p>
    </ion-row>

    <ion-row style="text-align: center !important; display: block; margin: auto; margin-top: -10%;">
      <p style="text-align: center;">__________________________</p>
    </ion-row>

    <ion-row style="text-align: center !important; display: block; margin: auto; color: #007680">
      <h2>TIPOS DE VIOLENCIA</h2>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="../../../assets/img/v1.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../../assets/img/v2.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../../assets/img/v3.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <img src="../../../assets/img/v4.png" alt="">
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/v5.png" alt="">
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/v6.png" alt="">
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <img src="../../../assets/img/v7.png" alt="">
          </ion-col>
          <ion-col>
            <img src="../../../assets/img/v8.png" alt="" (click)="bull()">
          </ion-col>
          <ion-col>
            <img src="../../../assets/img/v9.png" alt="">
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
